body {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    line-height: 1.6;
    background-color: #fcfcfc;
    color: #333333;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    font-size: 16px;
}

header {
    padding: 20px;
    border-radius: 10px;
    background-color: #01001b;
    background-image: url("bg-image.png");
    background-size: 996px 529px;
    background-position-x: left;
    background-position-y: left;
    image-rendering: pixelated;
    color: #ffffff;
    text-align: center;
    animation: sfx 200s infinite;
}

@keyframes sfx {
    50% {
        background-size: 1993px 1058px;
        background-position-x: center;
        background-position-y: center;
    }
}

header h1 {
    color: #ffffff;
    text-shadow: -1px -4px 6px #000000;
}

header a {
    color: #73c2f7;
    font-weight: bold;
    text-shadow: -1px -4px 6px #000000;
    text-decoration: none;
}

header a:hover {
    color: #a7d7f8;
    text-decoration: underline;
}

h2 {
    color: #2c3e50;
}

hr {
    height: 1px;
    border: 0;
    margin: 30px 0;
    background: #dddddd;
}

li span {
    font-weight: bold;  
}

.logos-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px #e6e6e6;
}

.data-table {
    width: 100%;
    margin: 20px 0;
    background: #ffffff;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    padding: 12px;
    border: 1px solid #dddddd;
}

.data-table td {
    text-align: left;
}

.data-table th {
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
}

.engine-cell {
    background-color: #fdfdfd;
    font-weight: bold;
}

tfoot .center-text {
    background-color: #f2f2f2;
    font-style: italic;
    text-align: center;
}

footer {
    color: #777777;
    font-size: 0.9em;
    text-align: left;
}